.main-footer {
  display: flex;
  justify-content: space-around;
  background-color: #f1f1f1;
  padding: 20px;
  color: #333;
  font-weight: 500;
}

.footer-section {
  flex: 1;
  text-align: center;
}
