.main-footer {
  display: flex;
  justify-content: space-around;
  background-color: #f1f1f1;
  padding: 20px;
  color: #333;
  font-weight: 500;
}

.footer-section {
  flex: 1;
  text-align: center;
}

/* Asegura que html y body llenen toda la ventana */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Hace que el contenido principal ocupe el espacio disponible */
main {
  flex: 1;
}
